{% load static %}
{% load rest_framework %}
<html lang="en">
<head>
    <title>{% block title %}
    	
    {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block style %}

    {% endblock %}

</head>
{% block body %}
<body class="img js-fullheight rmr-load" style="background-image: url({% static 'img/bg.jpg' %}); height: 820px;">

<section class="ftco-section">
    {% block content %}

    {% endblock %}
</section>
{% endblock %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block script %}
	
{% endblock %}



</body>
</html>